@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;600;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Inter', sans-serif;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 800px;
  margin: 0 auto;


}

.appScore{
  margin-bottom: 2rem;
  position: absolute;
  top: 22%;
  background: #4baafb;
  left: 25%;
  padding: 10px;
  color: #fff;
  border-radius: 25px;
}

.questionList{
  margin-top: 2rem;
}

.currentQuestion{
  margin: 2rem;
  color: #333;
}

.question-card {
  margin: 0 auto;
  width: 50%;
  height: auto;
  padding: 35px;
  border-radius: 16px;
  color: white;
  box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px, rgb(0 0 0 / 30%) 0px 18px 36px -18px;
}

ul {
  list-style: none;
}

li {
  margin-top: 8px;
  background-color: transparent;
  padding: 16px;
  border: 2px solid #333;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  color: #333;
  transition: all 0.2s ease-in-out;
}

li:hover {
 transform: scale(1.1);
}

.question-text {
  color: #333;
  font-size: 24px;
}

/* Final Results  */

.final-results {
  margin: 0 auto;
  height: auto;
  padding: 16px;
  border-radius: 16px;
  color: #333;
  box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px, rgb(0 0 0 / 30%) 0px 18px 36px -18px;
}

.final-results h2{
  margin: 1rem;
}

button {
  background-color: #4baafb; /* Green */
  border: none;
  color: white;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin-top: 1rem;
  border-radius: 24px;
  cursor: pointer;
}